/* CSS Document */

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color:cyan;
}

li {
	display: inline;
}

li {
	float: left;
}

li a {
	display:block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 95px;
}

a {
	display: block;
	padding: 8px;
	background-color: cyan;
	margin: 25px
}

ul {
	background-color: cyan;
	position: fixed;
	top: 0;
	width: 100%;
	left: 95px;
	height: 95px;
}

li a:hover {
	background-color: hotpink;
	color: mediumpurple;
}

nav {
	position: fixed;
}

.active {
	color: magenta;
}